@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
html {
  scroll-behavior: smooth;
}
#root {
  padding: 0;
  margin: 0;
  width: 100%;
}
.links {
  font-family: "Lora", sans-serif;
  outline: none;
}
body {
  background-color: #e5eaee;
  width: screen;
}
.test {
  justify-self: left !important;
}
.ag-theme-alpine {
  --ag-font-size: 14px;
  --ag-font-family: Lora;
  /* --ag-background-color: rgb(249, 245, 227); */
  --ag-alpine-active-color: #1d4014;
  --ag-row-hover-color: #d6c98eb5;
  --ag-background-color: rgba(255, 255, 255, 0);
}

.ag-center-cols-container {
  border: none !important;
}

/* Add border radius to the whole table */
.ag-theme-alpine {
  border-radius: 10px; /* Adjust the border-radius value as needed */
}
